@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(res/fonts/Oswald.ttf);
}

.main-image {
  width: 100%;
}

.ui-body-c {
  background-image: url('res/img/grey_wash_wall.png');
}

.ui-header h1.ui-title {
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
  margin-left: 0.6em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  background: url('res/orange_slice_title.svg') left no-repeat;
  font-family: 'Oswald', sans-serif;
}

.ui-footer {
  text-align: center;
}

.ui-controlgroup {
  margin: 0.1em 0;
}

#like.highlight {
  color: rgb(106, 202, 76);
}

#dislike.highlight {
  color: rgb(250, 36, 27);
}

#save.highlight {
  color: yellow;
}

#error_popup {
  background: red;
  font-weight: bold;
}